{% extends 'base.html' %}
{% load static %}
{% load crispy_forms_tags %}
{% block title %}{{ user.username }}{% endblock title %}


{% block content %}
    <div class="w-full max-w-xl mx-auto bg-white border border-gray-200 rounded-lg shadow dark:bg-gray-800 dark:border-gray-700">
        <div class="flex flex-col items-center py-10">
            <img class="w-28 h-28 mb-4 rounded-full shadow-lg" src="{% if user.profile.image %}{{ user.profile.image.url }}{% else %}{% static 'images/default.jpg' %}{% endif %}" alt="Bonnie image"/>
            <h5 class="mb-1 text-3xl font-bold text-gray-900 dark:text-white">{{ user.first_name }} {{ user.last_name }}</h5>
            <h5 class="font-medium text-gray-900">{{ user.username }}</h5>
            <span class="text-sm text-gray-500 dark:text-gray-400">{{ user.profile.get_position_display }}</span>
            {% if request.user.profile.position == 'STAFF' %}
                <h5 class="font-medium text-gray-500 mt-4">Жіберілген тапсырмалар саны: {{ count }}</h5>
            {% endif %}
        </div>
    </div>

    {% if request.user.profile.position == 'STAFF' %}
        <div class="relative my-10 overflow-x-auto shadow-md sm:rounded-lg">
            <table class="w-full text-sm text-left text-gray-500 dark:text-gray-400">
                <thead class="text-xs text-gray-700 uppercase bg-gray-50 dark:bg-gray-700 dark:text-gray-400">
                    <tr>
                        <th scope="col" class="px-6 py-3">
                            Тапсырма
                        </th>
                        <th scope="col" class="px-6 py-3">
                            Жоба
                        </th>
                        <th scope="col" class="px-6 py-3">
                            Жіберілген уақыты
                        </th>
                        <th scope="col" class="px-6 py-3">
                            Статус
                        </th>
                        <th scope="col" class="px-6 py-3">
                            Жұмыс құжаты
                        </th>
                    </tr>
                </thead>
                <tbody>
                    {% for obj in solutions %}
                        <tr class="bg-white border-b dark:bg-gray-900 dark:border-gray-700">
                            <td class="px-6 py-4">
                                {{ obj.task.project.title }}
                            </td>
                            <td class="px-6 py-4">
                                {{ obj.task.title }}
                            </td>
                            <td class="px-6 py-4">
                                {{ obj.date_created }}
                            </td>
                            <td class="px-6 py-4">
                                {% if obj.is_send %}
                                    <p class="font-semibold text-green-500">Жіберілді</p>
                                {% else %}
                                    <p class="font-semibold text-red-500">Қате кетті</p>
                                {% endif %}
                            </td>
                            <td class="px-6 py-4">
                                <a href="{{ obj.file.url }}" class="font-medium text-blue-600 dark:text-blue-500 hover:underline">Жүктеу</a>
                            </td>
                        </tr>
                    {% endfor %}
                </tbody>
            </table>
        </div>
    {% endif %}

{% endblock content %}