{% extends 'base.html' %}
{% load static %}
{% block title %}Жобалар - ProManage{% endblock title %}

{% block content %}
    <!-- Projects -->
    <div class="relative mb-8">
        <div class="grid gap-4 grid-cols-1 md:grid-cols-2 lg:grid-cols-3 xl:grid-cols-4 2xl:grid-cols-5">
            {% for pro in projects %}
            <a href="#"
                class="block p-6 bg-white border border-gray-200 rounded-lg shadow hover:bg-gray-100 dark:bg-gray-800 dark:border-gray-700 dark:hover:bg-gray-700">

                <h5 class="mb-2 text-2xl font-bold tracking-tight text-gray-900 dark:text-white">
                    {{ pro.title }}
                </h5>
                <p class="font-normal text-sm text-gray-700 dark:text-gray-400 mb-4">{{ pro.description }}</p>

                <div class="flex justify-between items-center">
                    <p class="font-normal text-sm text-gray-500 dark:text-gray-400">{{ pro.date_created }}</p>
                    {% if pro.status == 'PROCESS' %}
                    <span class="px-2 py-1 text-gray-500 text-sm rounded-lg bg-gray-200">{{ pro.get_status_display }}</span>
                    {% else %}
                    <span class="px-2 py-1 text-sm rounded-lg bg-green-200">{{ pro.get_status_display }}</span>
                    {% endif %}
                </div>
            </a>
            {% endfor %}
        </div>
    </div>
{% endblock content %}